.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.container{
  width: 60%;
  margin: 40px auto;
  border-radius: 25px;
  padding: 8px 0;
  min-height: 550px;
  color: white;
  background-color: #81B29A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.6);
}
h1{
  padding-bottom: 25px;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 35px;
  border-bottom: 1px solid #F4F1DE;
}
.field label{
  margin-right: 15px;
}
.field{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input{
  width: 170px;
  height: 15px;
  padding: 2px 8px;
  border: none;
  border-radius: 4px;
}
input:focus{
  outline: none;
}

.add_item_form{
  width: 65%;
  margin: auto;
  display: flex;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 2px;
}
.pie{
  width: 55vh;
  transition: .3 all ease-in-out;
}
.pie_chart{
  display: flex;
  justify-content: center;
}
.pie_chart_container{
  width: 60%;
  height: 60vh;
  display: flex;
  justify-content: center;
  margin: auto;
}
.authorization{
  height: 15vh;
  margin: auto;
  padding: 0 0 5vh 0;
}
.authorization button{
  margin-top: 2vh;
  width: 22vh;
  height: 5vh;
  border-radius: .5vh;
  color: white;
  border: none;
  background: #E07A5F;
  font-size: 2.5vh;
  transition: .1s all ease-in-out;
}
.authorization button:hover{
  transform: scale(1.05);
  background: rgb(218, 131, 107);
  border: 1px solid #E07A5F
}
.authorization label{
  margin-right: 1vh;
}
.authorization_input{
  display: flex;
  align-items: center;
  margin-right: 3vh;
}
.authorization input{
  width: 22vh;
  height: 3.3vh;
  border: none;
  border-radius: 3px;
}
.authorization form{
  display: flex;
  justify-content: center;
  width: 40vh;
  margin: auto;
}